<div class="banner">
  <div class="banner-video" id="">
     <video autoplay loop muted class="wrapper__video">
        <source src="https://player.vimeo.com/external/368755148.sd.mp4?s=1e361be3eaa617e60c03e235e0d67f840342f13c&profile_id=139&oauth2_token_id=57447761">
     </video>
  </div>
  <div class="work-content">
    <p>We concept, design, and deliver best-in-class products and websites. Beyond visuals and user interfaces, we craft user journeys that bring delight to people and solve complicated problems.</p>
  </div>
</div>
<div class="work-video">
  <h1>WORK</h1>
</div>
