<div class="navbar-slider">
  <ul class="nav-slider">
    <div class="nav-link">
      <%= link_to "#" do  %>
        <li><i class="fas fa-home"></i></li>
      <% end %>
      <div class="nav-link-content">
        <p>HOME</p>
      </div>
    </div>
    <div class="nav-link">
      <%= link_to "#" do  %>
        <li><i class="fas fa-pen"></i></i></li>
      <% end %>
      <div class="nav-link-content">
        <p>PROJECTS</p>
      </div>
    </div>
    <div class="nav-link">
      <%= link_to "#" do  %>
        <li><i class="fas fa-book-open"></i></li>
      <% end %>
      <div class="nav-link-content">
        <p>ABOUT US</p>
      </div>
    </div>
    <div class="nav-link">
      <%= link_to "#" do  %>
        <li><i class="fas fa-envelope"></i></li>
      <% end %>
      <div class="nav-link-content">
        <p>CONTACT US</p>
      </div>
    </div>
  </ul>
</div>
