.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-slider {
  position: absolute;
}
.nav-slider {
  background: black;
  height: 100vh;
  width: 80px;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  z-index: 2;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20vh 0;
  i {
    font-size: 32px;
    color: white;
    opacity: 0.7;
    transition: 0.4s ease;
    &:hover {
      opacity: 1;
      // transform: rotate(10);
    }
  }
}

.nav-link {
  position: relative;
  &:hover > .nav-link-content {
    opacity: 1;
    right: -125px;
  }
}

.nav-link-content {
  transition: 0.4s ease;
  opacity: 0;
  z-index: 2;
  position: absolute;
  background: black;
  right: -100px;
  top: 0;
  height: 52px;
  width: 120px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}
